<div class="main-container">
  <h1 class="section-title">Lista de nominadas</h1>
  <mat-card class="card">
    <mat-card-header>
      <mat-icon mat-card-avatar class="material-symbols-outlined icon"
        >cloud_done</mat-icon
      >
      <mat-card-title>Anatomía de una caída</mat-card-title>
      <mat-card-subtitle>Anatomie d'une chute</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://pics.filmaffinity.com/anatomie_d_une_chute-695566678-large.jpg"
      alt="Photo of Anatomía de una caída"
    />
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>VOTAR</button>
      <!-- <button mat-button>SHARE</button> -->
    </mat-card-actions>
  </mat-card>
</div>
