.main-container {
  // display: grid;
  // grid-template-columns: repeat(1, 1fr);
  background-color: #ffff64;
  height: 100%;
}

.section-title{
    text-align: center;
    padding: 10px;
    color: #1abc9c;
}
.card {
  margin: 10px;
}

.icon {
  color: green;
}
