<header class="header">
    <div class="header-container">
        <img src="https://phantom-marca-mx.unidadeditorial.es/41b9f87fbf13fd1d8c8a44b0f16f5def/resize/660/f/webp/mx/assets/multimedia/imagenes/2023/03/11/16784893511243.jpg" alt="" class="header-container-img">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" yPosition="below">
            <button mat-menu-item>
              <mat-icon class="material-symbols-outlined">movie</mat-icon>
              <span>Peliculas nominadas</span>
            </button>
            <button mat-menu-item>
              <mat-icon class="material-symbols-outlined">
                how_to_vote
              </mat-icon>
              <span>Mis votos</span>
            </button>
          </mat-menu>
        <span class="header-container-title">{{title}}</span>
    </div>
    <button mat-stroked-button color="primary" class="header-user-btn">{{userName()}}</button>
</header>
